{
  "extends": ["next", "airbnb", "airbnb/hooks", "airbnb-typescript"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "react/react-in-jsx-scope": "off"
  },
  "ignorePatterns": ["tailwind.config.js", "postcss.config.js"],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
