# Environment variable template

# Postgres connection settings
POSTGRES_USER
POSTGRES_PASSWORD
DATABASE_URL

# Superuser account information for admin
SUPERUSER_EMAIL
SUPERUSER_PASSWORD

# Frontend
NEXT_PUBLIC_API_URL