// /* Range slider */

/* new range slider styles */
.slider-thumb {
  height: 20px;
  width: 20px;
  @apply bg-white rounded-full drop-shadow flex justify-center items-center;
}
.slider-track-outer {
  height: 18px;
  @apply flex w-full;
}
.slider-track {
  height: 6px;
  @apply bg-blue-500 w-full rounded;
}

// .range-slider {
//   /* SLIDER THUMB */

//   &::-webkit-slider-thumb {
//     @include slider-thumb;
//   }
//   &::-moz-range-thumb {
//     @include slider-thumb;
//   }
//   &::-ms-thumb {
//     @include slider-thumb;
//   }

//   &::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
//   }
//   &:focus {
//     outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
//   }

//   /* SLIDER TRACK */

//   &::-webkit-slider-runnable-track {
//     @include slider-track;
//   }
//   &::-moz-range-track {
//     @include slider-track;
//   }
//   &::-ms-track {
//     @include slider-track;
//   }

//   &:focus::-webkit-slider-runnable-track {
//     @apply bg-blue-200;
//   }
//   &::-ms-track {
//     /* Hides the slider so custom styles can be added */
//     background: transparent;
//     border-color: transparent;
//     color: transparent;
//   }
//   // ms special styling
//   &::-ms-fill-lower {
//     @include slider-track;
//   }
//   &:focus::-ms-fill-lower {
//     @apply bg-blue-400;
//   }
//   &::-ms-fill-upper {
//     @include slider-track;
//   }
//   input[type='range']:focus::-ms-fill-upper {
//     @apply bg-blue-400;
//   }
// }

// // Multi-thumb slider
// .multi-range-wrap {
//   display: grid;
//   grid-template-rows: max-content $h;
//   grid-template: repeat(2, max-content) #{$h}/ 1fr 1fr;
//   margin: 0 auto;
//   width: $w;
//   overflow: hidden; // in case <label> elements overflow
//   position: relative;
//   // background: /* emulate track with wrapper background */ linear-gradient(
//   //   0deg,
//   //   #e4e6ea 1px,
//   //   transparent 0
//   // );
//   background: /* emulate track with wrapper background */ linear-gradient(
//     0deg,
//     #e4e6ea 10px,
//     transparent 0
//   );
//   // background-color: #e4e6ea;
//   // background
//   background-position: 0 -28px;
//   background-repeat: no-repeat;

//   --dif: calc(var(--max) - var(--min));

//   &::before,
//   &::after {
//     grid-column: 1 / span 2;
//     grid-row: 3;
//     height: 10px;
//     margin-top: -20px;
//     content: '';
//     @apply bg-blue-500;
//   }

//   &::before {
//     margin-left: calc(#{$r} + (var(--a) - var(--min)) / var(--dif) *#{$uw});
//     width: calc((var(--b) - var(--a)) / var(--dif) *#{$uw});
//   }

//   &::after {
//     margin-left: calc(#{$r} + (var(--b) - var(--min)) / var(--dif) *#{$uw});
//     width: calc((var(--a) - var(--b)) / var(--dif) *#{$uw});
//   }

//   [id='multi-lbl'] {
//     grid-column: 1 / span 2;
//   }
//   .sr-only {
//     position: absolute;
//     clip-path: inset(50%);
//   }

//   input[type='range'] {
//     &::-webkit-slider-runnable-track,
//     &::-webkit-slider-thumb,
//     & {
//       -webkit-appearance: none;
//     }
//     grid-row: 2;
//     grid-column: 1 / span 2;
//     // grid-row: 2;
//     background: none; /* get rid of white Chrome background */
//     @apply text-white drop-shadow;
//     font: inherit; /* fix too small font-size in both Chrome & Firefox */
//     margin: 0;
//     position: relative;
//     z-index: 10;
//     margin-top: -4px;
//     pointer-events: none; /* let clicks pass through */
//     cursor: grab;
//     &:active {
//       cursor: grabbing;
//     }

//     &::-webkit-slider-runnable-track {
//       @include multi-track;
//     }
//     &::-moz-range-track {
//       @include multi-track;
//     }

//     &::-webkit-slider-thumb {
//       @include multi-thumb;
//     }
//     &::-moz-range-thumb {
//       @include multi-thumb;
//     }
//   }
//   output {
//     //grid-row: 2;
//     grid-row: 3;
//     grid-column: 1 / span 2;

//     &:last-child {
//       text-align: right;
//     }

//     &::after {
//       counter-reset: c var(--c);
//       content: counter(c);
//       @apply text-sm text-indigo-500;
//     }
//   }
// }