@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins';

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('/fonts/5549031/5e356b56-25c1-43ac-9524-44e597eb7172.woff2')
      format('woff2'),
    url('/fonts/5549031/bb63728c-a742-41fb-929f-64692e41d2e7.woff')
      format('woff');
  /* font-display: swap; */
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('/fonts/5548986/4746c4e5-3355-4f8f-8395-3f7abfcbf4b8.woff2')
      format('woff2'),
    url('/fonts/5548986/0058324c-ca31-42b1-bf5b-b9d9025c1a9c.woff')
      format('woff');
  /* font-display: swap; */
  font-weight: 500;
}

body {
  @apply text-indigo-500;
  @include light-gradient;
  font-family: 'Neue Haas Grotesk Display';
}
h1,
h2,
h3,
h4 {
  @apply text-indigo-600 font-bold;
}
h1 {
  @apply text-3xl;
  @screen md {
    @apply text-5xl;
  }
}
h2 {
  @apply text-2xl;
  @screen md {
    @apply text-4xl;
  }
}
h3 {
  @apply text-xl;
  @screen md {
    @apply text-3xl;
  }
}
h4 {
  @apply text-lg;
  @screen md {
    @apply text-2xl;
  }
}
input[type='text'],
input[type='number'],
textarea,
select {
  @apply p-3 rounded-lg text-lg w-full bg-indigo-100;
}

select {
  appearance: none;
  position: relative;
  background-image: url(/images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position-y: 16px;
  background-position-x: calc(100% - 8px);
  background-size: 16px 16px;
}

.button {
  box-shadow: 0 0 32px #1f93ff6f;
  &.clear {
    box-shadow: none;
  }
}

.form-row {
  @apply my-8;
  label {
    @apply font-bold block;
  }
}

// radar loader
.radar {
  transform: rotate(-70deg);
  width: 25%;
  height: 14em;
}

.banner {
  @include dark-gradient;
}
