@tailwind base;
@tailwind components;
@tailwind utilities;

// Import base styles before overriding
@import "../../../styles/main.scss";

@font-face {
  font-family: "LL Brown";
  src: url("/fonts/LL-Brown/lineto-brown-light.woff2") format("woff2"), url("/fonts/LL-Brown/lineto-brown-light.woff") format("woff");
  /* font-display: swap; */
  font-weight: 300;
}

@font-face {
  font-family: "LL Brown";
  src: url("/fonts/LL-Brown/lineto-brown-regular.woff2") format("woff2"), url("/fonts/LL-Brown/lineto-brown-regular.woff") format("woff");
  /* font-display: swap; */
  font-weight: 400;
}

@font-face {
  font-family: "LL Brown";
  src: url("/fonts/LL-Brown/lineto-brown-bold.woff2") format("woff2"), url("/fonts/LL-Brown/lineto-brown-bold.woff") format("woff");
  /* font-display: swap; */
  font-weight: 500;
}

body {
  font-family: "LL Brown";
}

nav {
  a {
    @apply h-full block pb-6 border-b-4 border-transparent;
    &:hover {
      @apply text-blue-400;
    }
    &.active {
      @apply border-blue-400 text-blue-400;
    }
  }
}

footer {
  a {
    @apply text-primary-400;
    &:hover {
      @apply underline;
    }
  }

  .footer__section {
    @apply text-sm lg:text-base;
    > * {
      @apply mb-2;
    }
  }

  .footer__social-links {
    a {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  .footer__base {
    background-image: url("/cclw/angles.svg");
    height: 234px;
    background-position: center;
    width: 100%;
  }
}
